.DS_Store
.env
.env.*
!.env.example
.git
.github
.generated
.next
.turbo
**/.expo
**/.next
**/.turbo
**/*.tsbuildinfo
**/coverage
**/dist
**/node_modules
**/test-results
apps/mobile
apps/mobile/android
apps/mobile/ios
apps/api/e2e
apps/api/test
apps/web
apps/web/playwright-report
data
docs
node_modules
